body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  margin-top: 5%;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdown {
  width: 50rem;
  height: 25rem;
  background-color: aqua;
  display: flex;
  align-items: center;
  flex-direction: column;
}

select {
  width: 25rem;
  height: 4rem;
  border-radius: 10px;
  font-size: 2rem;
  background-color: whitesmoke;
  outline: none;
  padding-left: 2%;
}